[submodule "vqa.pytorch"]
	path = vqa.pytorch
	url = https://github.com/Cadene/vqa.pytorch.git
[submodule "VQA/vqa.pytorch"]
	path = VQA/vqa.pytorch
	url = https://github.com/Cadene/vqa.pytorch.git
[submodule "VQA/vqa_pytorch"]
	path = VQA/vqa_pytorch
	url = https://github.com/Cadene/vqa.pytorch.git
[submodule "demo/heatmap"]
	path = demo/heatmap
	url = https://github.com/durandtibo/heatmap.git
