body {
	font-family: 'Raleway', sans-serif;
}

.container {
	padding: 2em;
}

h2 {
	padding: 1em;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 31px;
    background-color: #f5f5f5;
    padding-bottom: 0 !important;
}